<div class="overlay">
    <form class="studentForm" action="/Dashboard/applyMentorship">
        <div class="con">
            <header class="head-form">
                <h2>ACCENTURE (SA) EDUCATION TRUST MENTORSHIP PROGRAMME</h2>
                <h3>APPLICATION FORM TO BECOME A MENTOR</h3>
                <h4>Required Information</h4>
            </header>
            <br>
            <div class="field-set">
                <label>
                    Current Work Location
                </label><br>
                <input class="form-input" id="txt-input" type="text" name="workLocation" placeholder="Cape Town, JHB or PTA" required>
                <br>

                <label>
                  University Attended
                </label><br>
                <input class="form-input" id="txt-input" type="text" name="universityAttended" placeholder="e.g University of the Western Cape, University of Cape Town" required>
                <br>

                <label>
                  Degrees Obtained
                </label><br>
                <input class="form-input" id="txt-input" type="text" name="degrees" placeholder="e.g BSc Computer Science, BCom Honours Information Systems" required>
                <br>

                <div class="form-group">
                    <label for="comment">Reason for wanting to join the programme.</label><br>
                    <textarea class="form-control" rows="20" name="reasonForJoining" ></textarea>
                </div>
                <br>

                <div class="form-group">
                    <label for="comment">ANY PREFERENCES, e.g. Male or Female student /University/Degree. </label><br>
                    <textarea class="form-control" rows="20" name="reff" ></textarea>
                </div>
                <br>

                    <button class="sign-up"> Apply </button>
    </div>
        </div>
    </form>
</div>
