        <ul id="messages-gialogue">
            <li style="width:100%">
                <div class="msj macro">
                    <div class="avatar"><img class="img-circle" style="width:100%;" src="/Media Content/pf.png" /></div>
                    <div class="text text-l">
                        <p>Makes no sense</p>
                        <p><small>2016/08/19</small></p>
                    </div>
                </div>
            </li>
            <li style="width:100%;">
                <div class="msj-rta macro">
                    <div class="text text-r">
                        <p>Halelujah</p>
                        <p><small>19/08/2017</small></p>
                    </div>
                 </div>
                    <div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="/Media Content/pf.png" /></div>
                </li>
        </ul>
        <div>
            <div class="msj-rta macro" style="margin:auto">
                <div class="text text-r" style="background:whitesmoke !important">
                    <input class="mytext" placeholder="Type a message" />
                </div>
            </div>
        </div>
