<div class="applications-card">
<form form action="/Dashboard/scholarshipdocs" method="post" enctype="multipart/form-data" >
    <h2 for="text">Supporting Documents</h2>

    <label for="file">Certified ID Document</label><br>
    <input class="form-input" id="txt-input" type="file" name="idDocumentFile">

    <label for="file">Certified Academic Transcript</label><br>
    <input class="form-input" id="txt-input" type="file" name="academicTranscriptFile">

    <label for="file">Certified Copy of Mid Year Report</label><br>
    <input class="form-input" id="txt-input" type="file" name="midyearReportFile">

    <label for="file">Certified Proof of earnings</label><br>
    <input class="form-input" id="txt-input" type="file" name="proofOfEarningsFile">

    <label for="file">CV</label>
    <input class="form-input" id="txt-input" type="file" name="cvFile">
    <br><br>

    <button class="log-in"> Upload </button>
</form>
</div>