
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordError</title>
</head>
<body>
    <div> 
        <h1>Password mismatch</h1>
        <button>@Html.ActionLink("Go Back.", "Index", "Home", null)</button>
    </div>
</body>
</html>
